@page
@model FloodingApp.Pages.IndexModel

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Flood Monitoring</h1>
    <p class="lead">This is the home page of the Flood Monitoring application.</p>
    <hr class="my-4">
    <p>Use the navigation bar to access different sections of the application.</p>
</div>
